.c_chapter_rtrncontainer {
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: -57px;
}

@media only screen and (max-width: 2140px) {
  .c_chapter_rtrncontainer {
    margin-top: 30px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1440px) {
  .c_chapter_rtrncontainer {
    margin-top: 30px;
    margin-left: 20px;
  }

  .c_crs_ttl {
    margin-left: 20px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .c_chapter_rtrncontainer {
    margin-top: 30px;
    margin-left: 10px;
  }

  .c_crs_ttl {
    margin-left: 50px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .c_chapter_rtrncontainer {
    margin-top: 30px;
    margin-left: 5px;
  }

  .c_crs_ttl {
    margin-left: 40px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480) {
  .c_chapter_rtrncontainer {
    margin-top: 30px;
    margin-left: 5px;
  }

  .c_crs_ttl {
    margin-left: 50px;
    font-size: 1rem;
  }
}


.c_chapter_cardtext {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.c_chptr:hover{
  background-color: rgb(182, 230, 182);
  border-radius: 5px;
  filter: drop-shadow(
    0 0 1em #56b45b
  );
}

